[submodule "atemr_tools"]
	path = atemr_tools
	url = git@github.com:LCP-WORKS/atemr_tools.git
[submodule "atemr_description"]
	path = atemr_description
	url = git@github.com:LCP-WORKS/atemr_description.git
[submodule "atemr_control"]
	path = atemr_control
	url = git@github.com:LCP-WORKS/atemr_control.git
[submodule "atemr_hardware"]
	path = atemr_hardware
	url = git@github.com:LCP-WORKS/atemr_hardware.git
[submodule "atemr_msgs"]
	path = atemr_msgs
	url = git@github.com:LCP-WORKS/atemr_msgs.git
[submodule "atemr_simulation"]
	path = atemr_simulation
	url = git@github.com:LCP-WORKS/atemr_simulation.git
[submodule "atemr_nav"]
	path = atemr_nav
	url = git@github.com:LCP-WORKS/atemr_nav.git
[submodule "atemr_localization"]
	path = atemr_localization
	url = git@github.com:LCP-WORKS/atemr_localization.git
